<%= form_for(@person, :remote => true, :html => { :id => "people-form-row" }) do |f| %>
    Testing one two three
    <%= f.text_field :last_name %>

      <%= f.submit 'Save' %>
<% end %>

<div class="person-action-button">
  <%= button_tag 'Cancel', :id => 'cancel-button' %>
</div>
